body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.m_container{
	padding: 14px 30px;
	background-color: #fff;
	border: 1px solid #ddd;
    border-radius: 10px;
}

.m_login{
    position: relative;
    height: 88px;
    display: flex;
    flex-direction: column;
}
p{
    position:absolute;
    color: red;
    top: 60px;
    font-size: .7rem;
}
#username{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    outline: none;
}

#password{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    position: relative;
    
}

button{
    background-color: black;
    color: white;
    padding: 10px 120px 10px 120px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
}

.move{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
h5{
    font-weight: 200;
}
a{
    padding-top: 25px;
    font-size: 0.7rem;
    text-decoration: none;
    color: rgb(102, 102, 219);
    transition: .7s ease-in-out;
}

.open{
    position: absolute;
    right: 7px;
    top: 42px;
    font-size: 12px;
    cursor: pointer;
}
.close{
    position: absolute;
    right: 7px;
    top: 42px;
    font-size: 12px;
    cursor: pointer;
}