body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.style{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.m_container2{
    padding:  10px 40px ;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}
.m_login{
    position: relative;
    height: 78px;
    display: flex;
    flex-direction: column; 
}
p{
    position:absolute;
    color: red;
    top: 60px;
    font-size: .7rem;
}
#name{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    position: relative;
}

#password{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    position: relative;
    
}

#confirm{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    position: relative;
    
}
#username{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    position: relative;
}
#storename{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    position: relative;
}

#storeaddress{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    position: relative;
}
#email{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    position: relative;
}

#number{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    position: relative;
}
#birth{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    position: relative;
}

#upload{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    outline: none;
    position: relative;
}
button{
    background-color: black;
    color: white;
    padding: 10px 80px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 120px;
}
/* .m_login_button{
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: auto;
   
} */
.arrange{
    display: flex;
    flex-direction: row;
    margin-left: 130px;
}
h5{
    font-weight: 200;
}
a{
    padding-top: 25px;
    font-size: 0.7rem;
    text-decoration: none;
    color: rgb(102, 102, 219);
    transition: .7s ease-in-out;
}

.open{
    position: absolute;
    right: 7px;
    top: 42px;
    font-size: 12px;
    cursor: pointer;
}
.close{
    position: absolute;
    right: 7px;
    top: 42px;
    font-size: 12px;
    cursor: pointer;
}
.look{
    position: absolute;
    right: 7px;
    top: 42px;
    font-size: 12px;
    cursor: pointer;
}
.blind{
    position: absolute;
    right: 7px;
    top: 42px;
    font-size: 12px;
    cursor: pointer;
}