
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.m_container{
    width: 20%;
	margin: 200px auto;
	padding: 10px 30px;
	background-color: #fff;
	border: 1px solid #ddd;
    border-radius: 10px;
}
h3{
    font-size: medium;
    font-weight: 600;
}
p{
    /* position:relative; */
    color: red;
}
#username{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    
}

#password{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
}




/* DashBoard */
/* nav{
    width: 40%;
    padding: 12px 0;
    background-color: rgb(229, 223, 223);
    font-size: larger;
}
nav a{
    margin: 30px;
    text-decoration: none;
    color: rgb(103, 66, 18);
} */
 .grid-container{
    /* width: 100%; */
    padding: 0 15px 15px 15px;
    margin: 10px 10px 10px 14px;
    justify-content: justify;
    column-gap: 15px;
    /* margin: 0 5px 0 5px; */
    display: flex;
    flex-direction: row;
    margin-top: 58px;
}

.grid-item1{
    width: 23.5%;
    height: 60px;
    justify-items: center;
    /* margin: 10px 30px; */
    display: grid;
    border-radius: 3px;
    background-color: rgb(103, 99, 99)!important;
}
.grid-item2{
    width: 23.5%;
    height: 60px;
    justify-items: center;
    /* margin: 10px 30px; */
    display: grid;
    border-radius: 3px;
    background-color: rgb(51, 69, 95)!important;
}

.grid-item3{
    justify-items: center;
    width: 23.5%;
    height: 60px;
    /* margin: 10px 30px; */
    display: grid;
    border-radius: 3px;
    background-color: rgb(194, 253, 101);
}
.grid-item4{
    width: 23.5%;
    height: 60px;
    justify-items: center;
    /* margin: 10px 30px; */
    display: grid;
    border-radius: 3px;
    background-color: rgb(128, 162, 130);
}
.tables-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 45%;
    margin: 10px;
    background-color: azure;
}
th, td {
    border: 0.9px ;
    border-style: inherit;
    padding: 8px;
    text-align: center;
    color: black;
    background-color: azure;
}

/* DashBoard */

.Gen_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.Gen_grid_items1{
width: 14%;
position: fixed;
background-color: gray;
height: 100vh;
padding-left: 10px;
}
.Gen_grid_items1 h1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    
}
.Gen_grid_items2{
    width: 85%; 
    position: absolute;
    right: 0; 
    height: 100vh;
}
nav{
    width: 80%;
    position: fixed;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2.5px solid rgb(195, 192, 192);
    border-right: 2.5px solid rgb(195, 192, 192) ;
    gap: 829px;
}
.gap{
    gap: 775px !important;
}
nav h2{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
nav a{
    text-decoration: none;
    padding: 0 !important;
}
nav a button{
    width: 120px !important;
    height: 40px !important;
    border-radius: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    transition: .6s ease all;
    
}
nav button:hover{
    background-color: rgb(1, 1, 1);
}
.links{
    height: 45px;
    width: 94%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: .7s ease all;
}
.links:hover{
    background-color: black;
}
.links a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 1.1rem;
}

.t-product{
    position: relative;
    top: 50px;
}
.t-body{
    background-color: rgb(227, 127, 127);
}
.t-overlay{
    height: 100%;
}
.t-btn{
    padding: 7px 15px;
    background-color: rgb(255, 0, 51);
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 2px;
    margin: 15px 0 0 10px;
}
.t-table{
    width: 100%;
    border-collapse: collapse;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 15px;
}
.t-tr{
    background-color:  brown;
    color: white;
}
.t-tr>th{
    padding: 8px;
}
.t-forms{
    width: 450px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  rgb(255, 0, 51);
    padding: 1px 5px 20px 30px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
    position: relative;
    left: 250px;
    bottom: 47px;
    display: none;
    box-shadow:  0px 0px 20px black;
}
.t-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -10px;
    gap: 12px;

}

.t-grid label{
    margin-bottom: 10px;
    font-size: 15px;
}
.t-grid input{
    border: 1px solid brown;
    outline: none;
    padding: 5px 25px 5px 10px;
    border-radius: 2px;
    font-size: 13px;
}
.t-btn-cont{
    display: flex;
    justify-content: end;
}
.t-btn-cont button{
    margin-top: 20px;
    margin-right: 30px;
    background-color: brown;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 7px 15px;
    cursor: pointer;
}
.t-file{
    width: 165px;
    background-color: white;
    color: #9e9595;
    font-size: 11px;
    border: 1px solid brown;
}
/* ======= */


.employ{
    top:56px;
    position: fixed;
    height: 545px;
    width: 100%;
    z-index: 0;
}
.addStaff{
    height: 60px;
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 730px;
}
.addStaff button{
    background-color: brown;
    background-color: gray;
    border: none;
    height: 40px !important;
    width: 120px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    transition: .7s ease all;
    padding: 0 !important;
}
.addStaff button:hover{
    background-color: rgb(109, 16, 16);
    background-color: black;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    height: 40px !important;
    width: 170px;
    color: brown;
    color: black;
    padding-left: 10px;
    border: none;
    outline: none;
}
.search button{
    width: 50px !important;
    height: 40px !important;
    border-radius: 0 !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray !important;
}
table{
    width: 83.7%;
}
table tr{
    width: 90%;
    border-bottom: black;
    height: 30px;
}
table th{
    font-size: .9rem;
    background-color: black !important;
    height: 35px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
table tr{
    font-size: .8rem;
    color: white;
    /* color: black; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black !important;

}
tr:nth-child(even) {
    background-color: rgb(206, 53, 53);
  }
/* tr:nth-child(even) {
    background-color: gray;
  } */
  td{
    padding-left: 10px;
  }
.drop{
    position: relative;
  display: inline-block;
}
  .drop button{
   background-color: transparent;
   border: none;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .drop-down-cont{
    display: none;
    position: absolute;
    background-color: brown;
    background-color: gray;
    width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .drop:hover .drop-down-cont {display: block;}
  .drop-down-cont button{
    background-color: transparent;
   border: none;
   color: white;
   height: 35px;
   width: 100%;
  }
  .drop-down-cont button:hover{
    background-color: rgb(109, 16, 16);
    background-color: black;
  }
  .display{
display:none ;
  }
  .D-form{
    margin: auto;
    width: 39%;
    height: 350px;
    background-color: gray;
    border-radius: 10px;
    padding: 1px 5px 20px 30px;
    box-shadow:  0px 0px 20px black;
  }
  .D-form h2{
    margin-top: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
  }
  .D-overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.388);
    height:497px;
    width: 100%;
    position: absolute;
    padding-top: 100px;
    top: 0;
  }
  .addStaff-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .addClass-item{
    height: 100%;
  }
  .imp{
    /* height: 50px; */
    display: flex;
    flex-direction: column;
  }
  .imp label{
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .imp input{
    height: 27px;
    border: none;
    color: brown;
    color: black;
    padding-left: 5px;
    font-size: 12px;
    width: 230px;
    margin-bottom: 5px;
    border-radius: 5px;
    outline: none;
  }
  .imp span{
    font-size: 12px;
  }
  .fles{
    display: flex;
    gap: 170px;
    align-items: center;
  }
  .fles button{
    height: 35px;
    width: 100px;
    border: none;
    background-color: brown;
    background-color: gray;
    color: white;
    transition: .6s ease all;
  }
  .fles button:hover{
    background-color: rgb(109, 16, 16);
    background-color: black;
  }
  /* staff end */